.mark-button {
    -fx-border-color: black;
}

.button-background-color {
    -fx-background-color: rgba(81, 113, 110, 0.09);
}

.button-available-positions-x {
    -fx-background-color: rgba(73, 175, 165, 0.5);
}

.button-available-positions-o {
    -fx-background-color: rgba(233, 50, 59, 0.5);
}

.button-x {
    -fx-text-fill: blue;
}

.button-o {
    -fx-text-fill: red;
}

.button-lower-border {
    -fx-border-width: 1 1 5 1;
}

.button-right-border {
    -fx-border-width: 1 5 1 1;
}

.button-right-and-lower-border {
    -fx-border-width: 1 5 5 1;
}